body {
    background-color: rgb(62, 62, 62); text-align: left;
    color: white;
    background-image: url("image2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p.style1 {
    border-left: 5px solid yellow;
    border-bottom: 2.5px dotted yellow;
    border-top: 2.5px dotted yellow;
    border-right: 5px solid yellow;
    background-color: rgba(255, 255, 0, 0.26);
}
h1.style {
    border-left: 5px solid rgb(0, 0, 255);
    border-bottom: 2.5px dotted blue;
    border-top: 2.5px dotted blue;
    border-right: 5px solid blue;
    font-size: 50px;
    background-color: rgba(0, 255, 255, 0.413);
}
div.another {
    border-style: dashed;
    border-radius: 10px;
    border-color: maroon;
    border-width: 5px;
    background-color: rgba(255, 0, 0, 0.422);
}